@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav
{
  
  border-radius: 700%;
  width: 100px;
  height: 80vh;
  flex:var(--sidebar-flex);
  padding: 40px;
  
  background:url(img/bad.jpg);
}

.condiv
{
  padding: 100px ;
  background:url(img/animated-background-based.jpg);
  flex:var(--condiv-flex);
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{
  border-radius: 10%;
  width: 400px;
  height: 60vh;
  margin-bottom: 20px;
}
.picture
{
  border-radius: 10%;
  width: 200px;
  height: 25vh;
  margin-left: 800px;
  margin-bottom: 30px;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
  color: rgb(238,103,143);
}
.typingeffect:hover
{
  color: #3a4960;
  background-color: #82d982;
  box-shadow: 0 40px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 20;
}
nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: rgb(49, 69, 46) !important;
}
nav ul li
{
  margin:40px;

}
nav ul li:hover
{
  color: #3a4960;
  background-color: #8d3636;
  box-shadow: 0 50px 60px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 50;
}
a
{
  text-decoration: none;
  color: rgb(196, 233, 226);
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
.subtopic:hover
{
  color: #3a4960;
  background-color: #332828;
  box-shadow: 0 50px 60px rgba(16, 168, 85, 0.19), 0 6px 6px rgba(189, 39, 39, 0.23);
  font-size: 100;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
  color: rgb(247, 248, 248);
}
p:hover
{
  color: #3a4960;
  background-color: rgb(177, 140, 151);
  box-shadow: 0 50px 60px rgba(217, 166, 166, 0.19), 0 6px 6px rgba(228, 208, 208, 0.23);
  font-size: 100;
}
.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #9a9c9c;
}
.social i:hover
{
  color: #0b0b0c;
}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #3a4960;
  background-color: #312727;
  box-shadow: 0 10px 20px rgba(237, 235, 235, 0.19), 0 6px 6px rgba(247, 245, 245, 0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
  color: #f4f0f0;
}
.skills ul li:hover
{
  color: #3a4960;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(214, 210, 210, 0.19), 0 6px 6px rgba(239, 237, 237, 0.23);
  size: 20vh;
}


@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
    background: rgb(238,103,143);
    background: linear-gradient(90deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
}